* {
    padding: 0%;
    margin: 0%;
    scroll-behavior: smooth;
}

.centering {
    height: 100px;
    width: 95%;
    max-width: 1850px;
    margin: 0% auto;
}

.hider {
    transition: .3s ease-in;
    overflow: hidden;
}
/* TopBar */

#topbar {
    height: 50px;
    background-color: #191C24;
    margin-bottom: 25px;
}

#az_dev {
    color: white;
    float: left;
    padding: 7px 0px 7px 45px;
}

#shop_name {
    padding: 7px 45px 7px 0px;
    float: right;
    color: white;
}

@media (max-width:600px) {
    #az_dev {
        float: none;
        padding: 7px 0px 7px 0px;
    }
    #az_dev {
        text-align: center;
    }
    #shop_name {
        display: none;
    }
}


/* Buttons { Add New Password , Password List , Contact List ,Save Password , Generate Password } */

.containers {
    margin: 0% auto;
    width: 99.3%;
    border-radius: 7px;
    background-color: #191C24;
    margin-bottom: 20px;
    color: white;
    overflow: hidden;
}

.buttons_container {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.button_div {
    min-width: 300px;
    margin: 11px;
    border-radius: 5px;
    height: 80px;
    width: 300px;
    cursor: pointer;
}

#em_btn_1,
#em_btn_2,
#em_btn_3,
#em_btn_4,
#em_btn_5 {
    color: white;
    font-size: 40px;
    float: right;
    margin: 17px 22px 0px 0px;
}

.em_btn_search,
.em_btn_add {
    float: left;
    margin: 23px 0px 0px 10px;
}

.em_btn_title {
    margin: 23px 0px 0px 10px;
    float: left;
}

#generate_password {
    background-color: #007bff;
}

#add_new_password {
    background-color: #fd7e14;
}

#password_list {
    background-color: #28a745;
}

#add_new_contact {
    background-color: #dc3545;
}

#contact_list {
    background-color: #3fc5f0;
}


/* Generating Password */

.gen_pass {
    background: none;
}

.khoti {
    width: 1070px;
}

@media (max-width:1120px) {
    .khoti {
        width: 100%;
    }
}


/* Password List */

.tb_1 {
    padding: 30px 0px;
    overflow: hidden;
    overflow-x: scroll;
    width: 1070px;
    margin: 0% auto;
}

@media (max-width:1165px) {
    .tb_1 {
        width: 95%;
        background-color: orange;
    }
}

@media (max-width:810px) {
    .tb_1 {
        width: 100%;
        background-color: orange;
    }
}

thead tr {
    background-color: rgba(0, 0, 0, 0.863);
    height: 45px;
}

.pass_list_table {
    width: 100%;
}

.head_for,
.head_num,
.head_pass {
    font-size: 19px;
    font-weight: 600;
}

.head_for {
    min-width: 150px;
    padding-left: 20px;
    padding-right: 200px;
}

.head_num {
    min-width: 310px;
}

.head_pass {
    min-width: 360px;
    width: 360px;
    padding-right: 20px;
}

.tr {
    height: 40px;
    font-size: 15px;
    font-weight: 500;
    border-top: 2px solid rgba(128, 128, 128, 0.486);
}

.tr:nth-child(even) {
    background-color: rgba(0, 0, 0, 0.171);
}

.tr:nth-child(odd) {
    background-color: rgba(0, 0, 0, 0.561);
}

.tr:nth-child(even):hover {
    background-color: rgba(78, 78, 78, 0.308);
}

.tr:nth-child(odd):hover {
    background-color: rgba(78, 78, 78, 0.308);
}

.for_td {
    padding-left: 20px;
}

.pass_style {
    color: white;
    background: none;
    outline: none;
    border: none;
}

.pass_style::placeholder {
    color: white;
}

.fa-low-vision,
.fa-trash,
.fa-pen-square {
    font-size: 20px;
    margin: 10px;
    cursor: pointer;
}

.fa-low-vision {
    color: rgb(78, 158, 233);
}

.fa-trash {
    color: rgb(214, 36, 36);
}

.fa-pen-square {
    color: rgb(6, 211, 6);
}


/* Contact List */

.head_relation {
    min-width: 150px;
}

.head_company {
    min-width: 200px;
}

.head_number {
    min-width: 310px;
}


/* Adding New Contact */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');
.contact_container {
    color: grey;
    font-family: 'Poppins', sans-serif;
    max-width: 1000px;
    width: 100%;
    margin: 0% auto;
    padding: 25px 30px;
    border-radius: 5px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.15);
}

.contact_container .title {
    font-size: 25px;
    font-weight: 500;
    position: relative;
}

.contact_container .title::before {
    content: "";
    position: absolute;
    left: 0;
    bottom: 0;
    height: 3px;
    width: 30px;
    border-radius: 5px;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

.content form .user-details {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    margin: 20px 0 12px 0;
}

form .user-details .input-box {
    margin-bottom: 15px;
    width: calc(100% / 2 - 20px);
}

form .input-box span.details {
    display: block;
    font-weight: 500;
    margin-bottom: 5px;
}

.user-details .input-box input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    background: none;
    color: white;
    border: 2px solid rgba(204, 204, 204, 0.575);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.input-box-out input {
    height: 45px;
    width: 100%;
    outline: none;
    font-size: 16px;
    border-radius: 5px;
    padding-left: 15px;
    background: none;
    color: white;
    border: 2px solid rgba(204, 204, 204, 0.575);
    border-bottom-width: 2px;
    transition: all 0.3s ease;
}

.user-details .input-box input:focus,
.user-details .input-box input:valid {
    border-color: #9b59b6;
}

form .gender-details .gender-title {
    font-size: 20px;
    font-weight: 500;
}

form .category {
    display: flex;
    width: 80%;
    margin: 14px 0;
    justify-content: space-between;
}

form .category label {
    display: flex;
    align-items: center;
    cursor: pointer;
}

form .category label .dot {
    height: 18px;
    width: 18px;
    border-radius: 50%;
    margin-right: 10px;
    background: #d9d9d9;
    border: 5px solid transparent;
    transition: all 0.3s ease;
}

#dot-1:checked~.category label .one,
#dot-2:checked~.category label .two,
#dot-3:checked~.category label .three {
    background: #9b59b6;
    border-color: #d9d9d9;
}

form input[type="radio"] {
    display: none;
}

form .button {
    height: 45px;
    margin: 35px 0
}

form .button input {
    height: 100%;
    width: 100%;
    border-radius: 5px;
    border: none;
    color: #fff;
    font-size: 18px;
    font-weight: 500;
    letter-spacing: 1px;
    cursor: pointer;
    transition: all 0.3s ease;
    background: linear-gradient(135deg, #71b7e6, #9b59b6);
}

form .button input:hover {
    /* transform: scale(0.99); */
    background: linear-gradient(-135deg, #71b7e6, #9b59b6);
}

@media(max-width: 584px) {
    .container {
        max-width: 100%;
    }
    form .user-details .input-box {
        margin-bottom: 15px;
        width: 100%;
    }
    form .category {
        width: 100%;
    }
    /*     .content form .user-details {
        max-height: 300px;
        overflow-y: scroll;
    } */
    .user-details::-webkit-scrollbar {
        width: 5px;
    }
}

@media(max-width: 459px) {
    .container .content .category {
        flex-direction: column;
    }
}


/* Closer Katee ka nishan */

.khatam {
    float: left;
    /* background-color: brown; */
    text-align: center;
    width: 100%;
}

#fa-times-circle {
    display: none;
}

.fa-times-circle {
    color: #fc424a;
    cursor: pointer;
    font-size: 45px;
    position: absolute;
    right: 70px;
}

@media (max-width:1575px) {
    .fa-times-circle {
        right: 4%;
        font-size: 43px;
    }
}

@media (max-width:615px) {
    .fa-times-circle {
        margin-top: 3px;
        font-size: 40px;
    }
    .khatam {
        text-align: left;
        padding-left: 3%;
    }
}