<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>

<body>
    <br><br><br>
    <label for="file">Image</label>
    <input type="file" id="file" accept="image/*"><br><br>
    <label for="cnic">cnic</label>
    <input type="text" id="cnic"><br><br>
    <input type="button" value="Send" onclick="asd()">

</body>
<script>
    function asd() {
        cnic = document.getElementById("cnic").value;
        fi = document.getElementById("file").files[0];

        let formdata = new FormData();
        formdata.append('cnic',cnic);
        formdata.append('profile',fi);

        fetch('/emp/asdf/', {
            headers: {},
            method: 'POST',
            body: formdata
        }).then(function (response) {
            return response.json();
        }).then(function (received) {
            console.log(received)
        })
    }

    function getCookie(cname) {
    var name = cname + "=";
    var decodedCookie = decodeURIComponent(document.cookie);
    var ca = decodedCookie.split(';');
    for (var i = 0; i < ca.length; i++) {
        var c = ca[i];
        while (c.charAt(0) == ' ') {
            c = c.substring(1);
        }
        if (c.indexOf(name) == 0) {
            return c.substring(name.length, c.length);
        }
    }
        return "";
    }
</script>

</html>