<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>{{request.user}}</h1>

    {% if form %}
        <form method="POST" action="{{url}}" enctype="multipart/form-data">
            {% csrf_token %}
            <table>
                {{form.as_table}}
            </table>
            
            <button type="submit">Submit</button>
        </form>
    {% endif %}

    {% if emp %} 
        {% for a in emp%}
            {{a.cnic}}
        {% endfor%}
    {%endif%}

    {% if data %}
        {% for a in data%}
            {{a.id}}<br>
            {{a.user_id}}<br>
            {{a.encrypt}}<br>
            {{a.account_for}}<br>
            {{a.letter}}<br><br><br>
        {% endfor%}
    {% endif %}
</body>
</html>